<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {text-align: center; color: ivory}
        p {text-align: center; color: ivory}
        form {text-align: center; color: ivory}
        .center-image {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
        body {
            background-image: url("{{ url_for('static', filename='oven.jpg') }}");
            background-repeat: no-repeat;
            background-size: cover;
            background-color: black;
        }
    </style>
    <meta charset="UTF-8">
    <title>Flask App</title>
</head>
<body>
    <div>
        <h1>Let's Bake Pi!</h1>
        <br>
        <p>
            {{ n }} iteration(s) of Leibniz's formula produces π = {{ pi }}<br>
            Which is as fine as the pie below
        </p>
        <img src="/static/{{ filename }}" alt="{{ filename }}" width="400" height="400" class="center-image" />
        <br>
        <br>
        <br>
        <br>
        <h1>Does it look Tasty?</h1>
        <form action="/" method="get">
            <label for="input_var">If not, try submitting a value larger than {{ n }}</label><br>
            <input type="text" id="input_var" name="n"><br>
            <input type="submit" value="Submit">
        </form>
    </div>
    <br>
    <br>
    <br>
    <br>
    <p>This Pi baked for {{ t }} seconds<br>
       Cooked through {{ n }} iterations of Leibniz's formula for π<br>
       Which produced π = {{ pi }}<br>
       An accuracy of {{ a }}% compared to π = 3.1415926535
    </p>
</body>
