<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        h1 {text-align: center; color: ivory}
        a {text-align: center; color: ivory}
        body {
            background-image: url("{{ url_for('static', filename='oven.jpg') }}");
            background-repeat: no-repeat;
            background-size: cover;
            background-color: black;
        }
    </style>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
  <h1>Hello and Welcome</h1>
  <br>
  <a href="http://awesomelabs.io/bake-pi">Would you like to bake pi?</a>
</body>
</html>